/* Template code is for testing and example import purposes */
@font-face {
  font-family: bahianita; 
  src: url(./assets/fonts/Bahianita/Bahianita-Regular.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: inter; 
  src: url(./assets/fonts/Inter/static/Inter-Regular.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: nunito; 
  src: url(./assets/fonts/Nunito/static/Nunito-Regular.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: playfair; 
  src: url(./assets/fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: roboto-slab; 
  src: url(./assets/fonts/Roboto_Slab/static/RobotoSlab-Bold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: ubuntu; 
  src: url(./assets/fonts/Ubuntu/Ubuntu-Bold.ttf);
  font-weight: 600;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: var(--main-font-family);
  --primary-text-clr: rgb(226, 226, 226);
  --accent-clr: rgb(0, 111, 139);
  --accent-clr-lighter: rgb(2, 162, 202);
  --secondary-text-clr: white;
  --main-font-family: nunito, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: var(--main-font-family);
  --weather-card-height: 40rem;
  --background-secondary: rgb(48, 48, 48);
  --background-primary: rgb(34, 34, 34);
  --mini-card-padding: 1rem;
  --box-shadow-outset: 3px 3px 8px 1px rgb(10, 10, 10);
  --heading-text-shadow-inset: 2px 2px 5px rgb(0, 0, 0);
  --text-shadow: 2px 2px 3px rgb(0, 0, 0);
  --border-rad-medium: 1rem;
}

header h1 {
  font-size: 3.7rem;
}

header svg {
  font-size: 2.9rem;
  color: white;
  transition: all 0.2s ease-in-out;
}

header a svg:hover {
  transform: scale(1.2);
} 

.self.credits {
  display: flex;
  gap: 3rem;
}

h1 {
  font-family: ubuntu;
  display: flex;
  gap: 1.5rem;
}

h1 span {
  display: grid;
  place-content: center;
}

h1 span svg {
  width: 5rem;
  height: 5rem;
}

h2 {
  font-size: 2.7rem;
}

h2, h3, label {
  font-family: roboto-slab;
}

h3 {
  text-align: center;
}

section, div, p {
  font-size: 1.2rem;
}

body {
  min-height: 100vh;
  padding: 0.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--background-primary);
}

input, button {
  font: inherit;
  padding: 0.3rem 1rem;
  appearance: none;
  outline: none;
  border: none;
  border-radius: 1.5rem;
}

button, footer a {
  transition: background-color 0.2s linear, transform 0.1s ease-in, color 0.2s linear;
}

button {
  background-color: var(--accent-clr);
}

button:hover {
  background-color: var(--accent-clr-lighter);
}

button:active {
  transform: scale(0.95);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.current.weather.card {
  position: relative;
  min-height: var(--weather-card-height);
  padding: var(--mini-card-padding);
  background-color: var(--background-secondary);
  border-radius: var(--border-rad-medium);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--box-shadow-outset);
}

.day-of-week, h2.today, h3.today, header {
  text-shadow: var(--heading-text-shadow-inset);
  color: var(--secondary-text-clr);
}

p, div, section {
  text-shadow: var(--text-shadow);
}

.current.weather.card, .future.weather.card {
  color: var(--primary-text-clr);
  font-weight: bold;
}

.future.weather.card {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.mini.info.card {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--mini-card-padding);
}

.current.weather.card .mini.info.card {
  align-self: stretch;
}

.min-max.wrapper {
  align-self: center;
  display: flex;
  gap: 0.75rem;
}

.min-max.wrapper > :nth-child(n) {
  text-align: center;
}

.future.weather.card > .mini.info.card {
  flex: 1;
  background-color: var(--background-secondary);
  border-radius: var(--border-rad-medium);
  box-shadow: var(--box-shadow-outset);
}

section.main {
  display: grid;
  grid-template: auto 1fr / 2fr 5fr;
  gap: 2rem;
  flex: 1;
  margin-bottom: 0.75rem;
}

.card > div.pic {
  background-color: transparent;
  width: 9rem;
  height: 9rem;
}

.pic {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: brightness(0) saturate(0%) invert(100%); */
}

form {
  grid-column: 1 / span 2;
}

form > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

input {
  color: black;
}

header, label, button {
  color: var(--secondary-text-clr);
  text-shadow: var(--heading-text-shadow-inset);
}

button {
  box-shadow: var(--box-shadow-outset);
}

.more.today.info {
  display: grid;
  grid-template-columns: 1fr 5fr 4fr;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  align-items: center;
  padding: 2rem 0;
  gap: 0.7rem;
  border-top: 2px solid rgb(220, 220, 220, 0.1);
}

.more.today.info > span, .more.today.info > label {
  font-size: 1.4rem;
  display: flex;
  gap: 0.3rem;
}

.up-arrow {
  position: relative;
  animation: move-arrow-up 0.75s ease-out 0s infinite;
}

.down-arrow {
  position: relative;
  animation: move-arrow-down 0.75s ease-out 0s infinite;
}

@keyframes move-arrow-up {
  0% {
    bottom: 0px;
    opacity: 1;
  }

  100% {
    bottom: 10px;
    opacity: 0;
  }
}

@keyframes move-arrow-down {
  0% {
    top: 0px;
    opacity: 1;
  }

  100% {
    top: 10px;
    opacity: 0;
  }
}

.loading.screen {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.spinner {
  z-index: 1;
  position: relative;
  border-radius: 50%;
  border: 8px solid white;
  border-top-color: rgb(49, 166, 255);
  width: 40px;
  aspect-ratio: 1 / 1;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  animation: spin 2s linear 0s infinite;
}

@keyframes spin {
  0% {
    transform-origin: center center;
    transform:  translate(-50%, -50%) rotateZ(0deg);
    left: 50%;
    top: 50%;
  }

  100% {
    transform-origin: center center;
    transform: translate(-50%, -50%) rotateZ(360deg);
    left: 50%;
    top: 50%;
  }
}

.dropdown > li:hover {
  cursor: pointer;
  background-color: rgb(72, 162, 192);
  border-color: rgb(72, 162, 192);
  color: white;
}

.dropdown > li {
  padding: 0.5rem 1.7rem;
  list-style-type: none;
  border-top: 1px solid rgb(237, 237, 237, 0.5);
  border-bottom: 1px solid rgb(237, 237, 237, 0.5);
}

.dropdown > li:first-child {
  border-top: none;
}

.dropdown > li:first-child:hover {
  border-top-left-radius: var(--border-rad-medium);
  border-top-right-radius: var(--border-rad-medium);
}

.dropdown > li:last-child {
  border-bottom: none;
}

.dropdown > li:last-child:hover {
  border-bottom-left-radius: var(--border-rad-medium);
  border-bottom-right-radius: var(--border-rad-medium);
}

form > div {
  padding: 0 20rem;
  display: grid;
  grid-template: 1fr / auto 40rem auto;
}

.location.input.wrapper > input {
  width: 100%;
}

.location.input.wrapper {
  position: relative;
}

.dropdown {
  position: absolute;
  border-radius: var(--border-rad-medium);
  background-color: lightgrey;
  margin-top: 0.3rem;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-size: 1.1rem;
  text-shadow: none;
}

.top-details.wrapper {
  display: grid;
  grid-template: auto auto / 1fr;
  justify-items: center;
  text-align: center;
  align-items: center;
}

.top-details.wrapper > .location {
  font-size: 1.225rem;
}

footer {
  display: grid;
  place-content: center;
  color: white;
}

footer a {
  color: var(--accent-clr);
}

footer a:hover {
  color: var(--accent-clr-lighter);
}

.location.display {
  text-align: center;
}