/* Template code is for testing and example import purposes */

@font-face {
  font-family: bahianita; 
  src: url(./assets/fonts/Bahianita/Bahianita-Regular.ttf);
  font-weight: 600;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: var(--main-font-family);
  --weather-card-height: 40rem;
  --light-white: darkcyan;
}

h1, h2 {
  font-size: 4rem;
}

section, div, p {
  font-size: 2rem;
}

body {
  min-height: 100vh;
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

input, button {
  font: inherit;
}

header {
  display: flex;
  justify-content: space-between;
}

.current.weather.card {
  min-height: var(--weather-card-height);
}

.current.weather.card {
  padding: 1rem;
  background-color: var(--light-white);
  border-radius: 1rem;
  color: white;
}

.future.weather.card {
  border-top: 6px solid darkcyan;
  display: flex;
  align-self: flex-start;
}

.future.weather.card > .mini.info.card {
  padding: 1rem;
}

.future.weather.card > .mini.info.card:nth-child(n) {
  margin-top: 1rem;
  flex: 1;
}

.future.weather.card > .mini.info.card:first-child {
  border-right: 6px solid var(--light-white);
}

.future.weather.card > .mini.info.card:last-child {
  border-left: 6px solid var(--light-white);
}

section.main {
  display: grid;
  grid-template: auto 1fr / 2fr 5fr;
  gap: 2rem;
}

.card > div.pic {
  background-color: greenyellow;
  width: 17rem;
  height: 17rem;
}

form {
  grid-column: 1 / span 2;
}

form > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button, input[type="search"] {
  padding: 0.3rem;
}